/node_modules
/public/storage
/storage/*.key
/vendor
detector/__pycache__/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
../.idea/
.idea/workspace.xml
.env
.idea/vcs.xml
.idea/afsclock.iml
public/assets/images/faces/*

.idea/application.iml
.idea/php.xml
.idea/*
westacebd/*
